# Node
node_modules/
dist/
npm-debug.log*

# Angular cache
.angular/

# Env
.env
environments/environment.ts
environments/environment.prod.ts

# IDEs
.vscode/

# OS
.DS_Store

# Build output
dist/
build/

# Test coverage
coverage/
