<div class="history-container">
  <h2>Vos dernières conversations</h2>
  <div *ngIf="dialogs.length === 0">
    <p>Aucun dialogue trouvé.</p>
  </div>

  <div *ngFor="let dialog of dialogs" class="dialog-item" [ngClass]="{
       'status-open': dialog.status === 'OPEN',
       'status-pending': dialog.status === 'PENDING',
       'status-closed': dialog.status === 'CLOSED'
     }">
    <div class="dialog-select" (click)="selectDialog(dialog.id)">
      <div class="dialog-title">{{ getDialogTitle(dialog.topic) }}</div>
      <div class="dialog-date">{{ getDialogDate(dialog.topic) }}</div>
    </div>
  </div>

  <div class="topic-group">
    <h2>Nouvelle conversation </h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>thème</mat-label>
      <input matInput placeholder="Titre du topic" [(ngModel)]="topicInput" (keyup.enter)="createNewDialog()" />
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="!isConnected" (click)="createNewDialog()">
      <mat-icon>add_comment</mat-icon> Créer
    </button>
  </div>
</div>
