<div class="history-container">
  <h2>Vos dernières conversations</h2>
  <div *ngIf="dialogs.length === 0">
    <p>Aucun dialogue trouvé.</p>
  </div>

  <div class="dialog-section" *ngIf="getDialogsByStatus('PENDING').length > 0">
    <h3 class="status-pending">En attente</h3>
    <div *ngFor="let dialog of getDialogsByStatus('PENDING')" class="dialog-item status-pending">
      <div class="dialog-select" (click)="selectDialog(dialog.id)">
        <div class="dialog-title">{{ getDialogTitle(dialog.topic) }}</div>
        <div class="dialog-date">{{ getDialogDate(dialog.topic) }}</div>
      </div>
    </div>
  </div>

  <div class="dialog-section" *ngIf="getDialogsByStatus('OPEN').length > 0">
    <h3 class="status-open">Active{{ getDialogsByStatus('OPEN').length > 1 ? 's' : '' }}</h3>
    <div *ngFor="let dialog of getDialogsByStatus('OPEN')" class="dialog-item status-open">
      <div class="dialog-select" (click)="selectDialog(dialog.id)">
        <div class="dialog-title">{{ getDialogTitle(dialog.topic) }}</div>
        <div class="dialog-date">{{ getDialogDate(dialog.topic) }}</div>
      </div>
    </div>
  </div>

  <div class="dialog-section" *ngIf="getDialogsByStatus('CLOSED').length > 0">
    <h3 class="status-closed">Archivée{{ getDialogsByStatus('CLOSED').length > 1 ? 's' : '' }}</h3>
    <div *ngFor="let dialog of getDialogsByStatus('CLOSED')" class="dialog-item status-closed">
      <div class="dialog-select" (click)="selectDialog(dialog.id)">
        <div class="dialog-title">{{ getDialogTitle(dialog.topic) }}</div>
        <div class="dialog-date">{{ getDialogDate(dialog.topic) }}</div>
      </div>
    </div>
  </div>

  <div class="topic-group">
    <h2>Nouvelle conversation </h2>
    <div class="topic-input">
      <mat-form-field class="full-width">
        <mat-label>thème</mat-label>
        <input matInput placeholder="Titre du topic" [(ngModel)]="topicInput" (keyup.enter)="createNewDialog()"
          #inputField="ngModel" required />
        <mat-error *ngIf="showError">Merci d'indiquer un titre</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" [disabled]="!isConnected||!topicInput.trim()"
        (click)="createNewDialog()">
        <mat-icon>add_comment</mat-icon>Créer
      </button>
    </div>
  </div>
</div>
