.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7fbfd;
}

mat-card {
  width: 400px;
  background: #add8e6;

}

.full-width {
  width: 100%;
}
